.footer {
    background-color: $otherDark;
    border-radius: 50px 50px 0px 0px;
    padding-top: 70px;
    &__up {
        padding-bottom: 50px;
        border-bottom: 1px solid #3E3E3E;
    }

    &__container {
    }

    &__head {
        color: $white;
    }

    &__block {
        margin-top: 60px;
        display: flex;
        gap: 15px;
        justify-content: space-between;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__column-title {
        color: $dark;
        text-transform: uppercase;
    }

    &__column-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        gap: 15px;
    }

    &__column-text {
        color: $white;
    }
    &__column-link{
        text-transform: uppercase;
    }
    &__email-text {
        color: $white;
        padding-top: 20px;
    }

    &__down {
        margin-top: 45px;
        margin-bottom: 130px;
    }

    &__logo-wrapper {
        display: block;
        width: 125px;
        height: 125px;
    }

    &__down-text {
        text-transform: uppercase;
        color: $dark;
        &_accent {
            color: $white;
        }
    }
    &__down-container{
        display: flex;
        justify-content: space-between;
        gap: 15px;
    }
    &__delevoper{
        display: flex;
        flex-direction: column;
    }
    a:hover{
        color: $white;
        opacity: 0.5;
    }
    &__button-top{
        position: fixed;
        right: 15px;
        bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light;
        border-radius: 50px;
        width: 65px;
        height: 65px;
        transition: .3s;
        z-index: 1000;
        opacity: 0;
        pointer-events: none;
    }
    &__button-top:hover{
        opacity: 0.5;

    }
}
.button-top-active{
    opacity: 1;
    pointer-events: inherit;
    cursor: pointer;
}
.footer__block_min-gap{
    justify-content: start;
    gap: 40px;
}
@include media($mobile) {
    .footer {
        &__up {
            padding-bottom: 30px;
        }
    
        &__block {
            margin-top: 25px;
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    

        &__down {
            margin-top: 30px;
            margin-bottom: 70px;
        }
    
        &__logo-wrapper {
            display: block;
            width: 60px;
            height: 60px;
        }
        &__down-container{
            flex-direction: column;
        }
    }
}
.modal__title{
    font-weight: 400 !important;
    font-family: Actay;
    margin-bottom: 0;
}
.modal__text{
    font-weight: 500;
    color: $black;
    margin-top: 20px;
    display: flex;
}
.modal-form{
    margin-top: 50px;
}
.modal-form__input{
    border: none;
    background-color: #EEEEEE;
}
.modal-form__input::placeholder{
    color: #C9C9C9;
}
.modal-form{
    gap: 25px;
}
.modal-request .uk-modal-dialog{
    max-width: 550px;
    border-radius: 50px;
}
.modal-request .uk-modal-body {
    padding: 40px 40px;
}
.button.uk-modal-close{
    top: 40px;
    right: 40px;
    border-radius: 50px;
    background-color: #EEEEEE;
    border: none;
    width: 45px;
    height: 45px;
    cursor: pointer;
}
.button.uk-modal-close::before{
    content: "";
    width: 18px;
    height: 1px;
    background-color: $black;
    transform: rotate(45deg);
    position: absolute;
    top: 22px;
}
.button.uk-modal-close::after{
    content: "";
    width: 18px;
    height: 1px;
    background-color: $black;
    transform: rotate(-45deg);
    position: absolute;
    top: 22px;
}
.button.uk-modal-close:hover{
    background-color: $green;
}
.button.uk-modal-close:hover:before{
    background-color: $white;
}
.button.uk-modal-close:hover:after{
    background-color: $white;
}
@include media($mobile) {
    .button.uk-modal-close{
        width: 35px;
        height: 35px;
    }
    .button.uk-modal-close::before{
        width: 15px;
        height: 1px;
        top: 17px;
    }
    .button.uk-modal-close::after{
        width: 15px;
        height: 1px;
        top: 17px;
    }
    .modal-form{
        margin-top: 25px;
    }
    .modal-form{
        gap: 15px;
    }
}