.hero {

    background: url(../images/hero1.jpg) no-repeat 45% 50%;
    background-size: cover !important;
    height: 100vh;
    position: relative;
    margin-top: 0px;
    &__container {
        position: absolute;
        top: auto;
        top: 35%;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
        z-index: 2;
    }
    &__object-container{
        position: absolute;
        right: -70px;
        z-index: 1;
        animation: swing 5s ease;
        animation-iteration-count: infinite;
        pointer-events: none;
    }

    &__title {
        color: $white;
    }

    &__text {
        color: $white;
        margin-top: 20px;
        font-weight: 300px;
    }

    &__buttons {
        display: flex;
        gap: 20px; 
        margin-top: 70px;
    }
}

@include media($laptop) {
    .hero {
        background: url(../images/hero1.jpg) no-repeat 45% 50%;
        &__container {
            top: 130px;
        }
    
        &__title {

        }
    
        &__text {

        }
    
        &__buttons {
 
        }
    }
    
}
@include media($tablet) {
    .hero {
        height: 100vh;
        &__container {
            top: 100px;
        }
    
        &__title {

        }
    
        &__text {

        }
    
        &__buttons {
            flex-direction: column;
            gap: 15px; 
            margin-top: 50px;
        }
    }
}
@include media($mobile) {
    .hero {
        &__container {
            top: 30px;
        }
    
        &__title {

        }
    
        &__text {

        }
    
        &__buttons {

        }
        &__object-container{
            /*display: none;*/
            top: 324px;
            right: -20px;
        }
    }
}

@keyframes swing
{
    0%
    {
        transform: translateX(-30px) rotate(2deg);  
    }
    50%
    {
        transform: translateX(30px) rotate(-2deg);  
    }
    100%
    {
        transform: translateX(-30px) rotate(2deg);  
    }
}