.single-tariff {

    &__container {
        &_content {
            border-radius: 25px;
        }
    }
}


.table-block {
    margin-top: 70px;
    border-radius: 25px;
    overflow: hidden;

    background-color: $black;
    width: 100%;
    text-align: center;
    &__row {
        background-color: $white;
        color: $black;
    }
    &__main-row {
        background-color: #3F9755;
        color: white;
    }
    &__main-row th{
        padding: 20px 10px;
    }
    &__code{
        padding: 20px 40px !important;
    }
}
.table-block td{
    padding: 20px 10px;
    /*border: 1px solid $black;*/
}